@import url('https://fonts.googleapis.com/css2?family=Borel&family=Damion&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Avenir next', sans-serif, 'Avenir next';
}

/* header code */
    .header {
        display: flex;
        padding: 20px 20px;
        background-color: #36505b;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
    }

    .header ul {
        display: flex;
        list-style: none;
        width: 940px;
        justify-content: space-between;
    }

    .header ul li a {
        text-decoration: none;
        color: #e0decf;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.7px;
    }
/* header code */


/* hero block code */
.hero-block {
    display: flex;
    background-image: url(images/mountains-troq.jpg) ;
    background-color: #36505b;
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
}

.hero-block .container {
    display: flex;
    width: 940px;
    flex-direction: column;
    margin: 175px 0px;
}

.hero-block .container .picture-placeholder {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 175px;
    color: #e0decf;
    height: 200px;
}

.hero-block .container .text-block {
    display: flex;
    color: #e0decf;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}
/* hero block code */

/* information block container code */
.information-block-container {
    display: flex;
    flex-direction: column;
    background-color: #283b44;
    justify-content: center;
    align-items: center;
    padding: 30px 0 70px 0;
    gap: 25px;
}

.information-block-container header {
    font-size: 34px;
    font-weight: 600;
    color: #e0decf;
    height: 42px;
    text-align: center;
}

.information-block-container ol {
    display: flex;
    list-style: none;
    flex: 1;
    gap: 20px;
    justify-content: space-between;
    width: 940px;
    flex-wrap: wrap;

}

.information-block-container .content-card {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    gap: 10px;
    max-width: 200px;
}

.information-block-container .content-card:hover {
    transform: scale(1.1);
}

.information-block-container .content-card img {
    border-radius: 7px;
}

.information-block-container .content-card li {
    text-align: center;
    color: #e0decf;
    font-size: 18px;
    font-weight: 400;
}
/* information block container code */

/* testimonial code */
.testimonial {
    display: flex;
    background-color: #bcbbb5;
    padding: 200px 395px;
    font-size: 36px;
    font-weight: lighter;
    color: #283b44;
    flex-direction: column;
}

.testimonial .author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    justify-self: flex-end;
}
/* testimonial code */

/* call to action code */
.cta {
    display: flex;
    background-color: #36505b;
    padding: 100px 75px;
    align-items: center;
    justify-content: space-around;
}

.cta .text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #e0decf;
    gap: 3px;
}

.cta .cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
}

.cta .text p {
    font-size: 18px;
    color: #e0decf;
    font-weight: 200;
}

.cta button {
    background-color: transparent;
    border: 2px solid #e0decf;
    padding:7px 30px;
    border-radius: 7px;
    color: #f9faf8;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.cta button:hover {
    border: 2px solid #ff9f00;
    transform: scale(1.1);
    background-color: #ff9f00;
    color: #36505b;
}
/* call to action code */

.footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    color: #e0decf;
    padding: 30px 0;
}