* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif, 'Avenir next';
}

/* header code */
    .header {
        display: flex;
        padding: 15px 20px;
        background-color: #222b13;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header ul {
        display: flex;
        list-style: none;
        width: 940px;
        justify-content: space-between;
    }

    .header ul li a {
        text-decoration: none;
        color: #e5e7eb;
        font-size: 18px;
        font-weight: 200;
    }
/* header code */


/* hero block code */
.hero-block {
    display: flex;
    background-color: #1f2937;
    padding: 100px 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hero-block .container {
    display: flex;
    width: 950px;
    gap: 40px;
}

.hero-block .text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 15px;
}

.hero-block .text-block header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-block .text-block p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
}

.hero-block .text-block button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 9px 35px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
}

.hero-block .picture-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: grey;
    color: #e5e7eb;
    min-height: 250px;
}
/* hero block code */

/* information block container code */
.information-block-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.information-block-container header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 80px 0;
}

.information-block-container ol {
    display: flex;
    gap: 50px;
    justify-content: space-between
}

.information-block-container li {
    list-style: none;
    text-align: center;
    max-width: 190px;
    font-weight: 200;
    font-size: 18px;
}

.information-block-container .image-placeholder {
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 190px;
    width: 190px;
}

.information-block-container .content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}
/* information block container code */

/* testimonial code */
.testimonial {
    display: flex;
    background-color: #e5e7eb;
    padding: 200px 395px;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    flex-direction: column;
}

.testimonial .author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    justify-self: flex-end;
}
/* testimonial code */

/* call to action code */
.cta {
    display: flex;
    background-color: #3882f6;
    margin: 100px 225px;
    padding: 75px 75px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}

.cta .text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #f9faf8;
    gap: 3px;
}

.cta .text p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 200;
}

.cta button {
    background-color: transparent;
    border: 2px solid #f9faf8;
    padding: 7px 30px;
    border-radius: 7px;
    color: #f9faf8;
    font-size: 15px;
    font-weight: 500;
}
/* call to action code */

.footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    padding: 30px 0;
}